[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "~=3.0.0"
pillow = "*"
social-auth-app-django = "*"
django-extensions = "*"
werkzeug = "*"
pyopenssl = "*"
easy-thumbnails = "*"
redis = "*"

[requires]
python_version = "3.8"
